
<main class="col-xs-12 main_content" ng-controller="NewAdController">
	<h1 id="main_title">Déposer une annonce</h1> 
	 <div class="container"> 
	<form>
	 		<div class="newAd_line">
				<label class="col-sm-12"><b>Titre de l'annonce *</b></label>
				<input class="newAd_default" ng_model="product.titre" type="text" name="title" required>
			</div>
			<div class="newAd_line">
				<label class="col-sm-12"><b>Catégorie *</b></label>
				<select name="category" id="category" ng_model="product.category" class="newAd_default" required>
					<option value="" disabled selected></option>
					<option ng-repeat="categorie in categories" value="{{categorie.type}}">{{categorie.type}}</option>
				</select>
			</div>
			<div class="newAd_line">
				<label class="col-sm-12"><b>Description</b></label>
				<textarea id="newAd_description" ng_model="product.description" type="text" name="description" maxlength="4000"></textarea>
			</div>
	 		<div class="newAd_line">
				<label class="col-sm-12"><b>Prix *</b></label>
				<input class="newAd_default" type="number" ng_model="product.prix" name="price" required> <span>€</span>
			</div>

			<div class="newAd_line">
				<div ng-repeat="step in stepsModel">
			        <img class="thumb" ng-src="{{step}}" />
			    </div>
			    
			    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
				
			</div>

	  </div>
	  <div class="loader" ng-if="loading == true"></div>
			<div class="newAd_line">
				<input class="validate" ng-click="startUpload(product)" type="submit" name="validate">
			</div>  			
	</form>
</main>
