<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/rating.css">
	<script src="js/jquery-3.1.0.min.js"></script> 
	<script src="js/angular.js"></script>
	<script src="controller/mainController.js"></script> 
	<script src="js/rating.js"></script>
</head>
<body ng-app="myApp">
<header class="col-xs-12" id="nav">
		<section class="content">
		<div class="content_nav col-xs-12 col-sm-12">
			<a href="index.html" class="logo-site col-xs-0 col-sm-2"><span>Utbyte</span></a>
			<button id="head_login" class="col-xs-5 col-sm-2" onclick="location.href = 'login.html'";>Connexion</button>
			<button id="head_logout" class="col-xs-5 col-sm-2" onclick="location.href = 'LogoutServlet'";>Déconnexion</button>
			<section class="head_ul col-xs-12 col-sm-7">
				<ul class="head_menu">
					<li><a href="index.html">Accueil</a></li>
					<li><a href="newAd.html">Déposer une annonce</a></li>
					<li><a href="index.html">Mes annonces</a></li>
				</ul>
			</section>
			</div>
		</section>
</header>
<main class="col-xs-12 main_content" ng-controller="MainCtrl">
	<section id="searchbox">
		<div class="content">
			<table class="col-sm-12">
				<tr>
					<form>
						<td><input class="col-sm-12 search" placeholder="Que recherchez vous ?" ng-model="annonce_title"></td>
						<td class="col-sm-3">
							<select class="search">
								<option selected="selected">Toutes les catégories</option>
								<option>2</option>
								<option>3</option>
							</select>
						</td>
						<td class="col-sm-3 last_td"><input class="search search_button" type="submit" value="Rechercher"></button></td>
					</form>
				</tr>
			</table>
		</div>
	</section>
	<section class="content">
		<h1 id="main_title"></h1>
		<table id="anonce_list">
			<tr class="annonces" ng-repeat="annonce in annonces | filter:annonce_title">
				<td class='col-sm-4 col-xs-12 annonce_image'><img ng-src='{{annonce.image}}' width='80%'/></td>
				<td class='col-sm-5 col-xs-5' style='margin-left:40px; margin-bottom: 10px'>
					<h2><a href='' class='annonce_title'>{{annonce.titre}}</a></h2>
					<div>Ville : {{annonce.lieu}}</div>
					<div>Evaluation du vendeur :</div>
					<span class='stars'>{{annonce.evaluation}}</span>
				</td>
				<td class='col-sm-2 col-xs-5 last_td'>
					<div><h2 class='annonce_price'>{{annonce.price}}€</h2></div>
					<div class="test">
					</div>
					
				</td>
			</tr>
		</table>
	<ul>
		<li class="index_pagination"> Page : </li>
    	<li class="index_pagination"  ng-repeat="i in getNumber(nbPages) track by $index">{{$index+1}}</li>
	</ul>
	</section>
</main>
<footer class="col-xs-12" id="footer"></footer>
<script>
	$(document).ready(function(){
		var region = {
		    centre: "Centre",
		    nord_pas_de_calais: "Nord-Pas-de-Calais",
		    picardie: "Picardie",
		    haute_normandie: "Haute Normandie",
		    champagne_ardenne: "Champagne-Ardenne",
		    lorraine: "Lorraine",
		    alsace: "Alsace",
		    bretagne: "Bretagne",
		    ile_de_france: "Ile-de-France",
		    basse_normandie: "Basse Normandie",
		    pays_de_la_loire: "Pays de la Loire",
		    bourgogne: "Bourgogne",
		    franche_comte: "Franche-Comté"
		    rhone_alpes: "Rhône-Alpes"
		};

		if(getUrlParameter('region') == null || getUrlParameter('region') == true)
			window.location.replace("http://localhost/RECOM5/");

		$('#main_title').html("Annonces : "+region[getUrlParameter('region')]);

	 	$("#footer").load('footer.html .footer_content');
	 	$(function () {
		  $('.stars').stars();
		});

 	});

	var getUrlParameter = function getUrlParameter(sParam) {
	    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
	        sURLVariables = sPageURL.split('&'),
	        sParameterName,
	        i;

	    for (i = 0; i < sURLVariables.length; i++) {
	        sParameterName = sURLVariables[i].split('=');

	        if (sParameterName[0] === sParam) {
	            return sParameterName[1] === undefined ? true : sParameterName[1];
	        }
	    }
	};
</script>
	<script src="js/script.js"></script>
</body>
</html>