#footer{
	background-color: #474747;
	width: 100%;
	position: relative;
	height: 170px;
}

.footer_content{
    max-width: 1066px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer_ul, .footer_ul > li{
	color: white;
	list-style-type: none; 
}