html, body{
    display: block;
    min-height: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;

}

* {
    box-sizing: inherit;
}

.main_content{
	position: relative;
	padding-bottom: 10px;
	padding-top:10px;
	z-index: 1;
	background-color: white;
}

#container{
	display: block;
	min-height: 100%;
	height: 100%;
	position: relative;
}

#parentdiv:after { 
    content: " "; 
    display: block;
    clear: both;
} 

#main_title{
	color: #474747;
}

main{
	width: 100%!important;
}

#anonce_list{
	border-collapse: collapse;
}
.annonces{
	border-width: 1px 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #e4e4e4;

}

.annonce_image{
	margin-top: 10px;
}

.search{
	height: 30px;
	padding: 0!important;
}
select.search{
	height: 33px;
}

.search_button{
	font-size: 13px;
	color: white;
	border-radius: 3px;
	width: 100%;
	border-radius: 4px;
	background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
}
#searchbox > .content{
	width: 100%;
}

#searchbox{
	background-color: #e6e6e6;
	min-height: 50px;
	margin: 0 auto!important;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.annonce_title{
	color : rgb(226,189,118);
}

.annonce_price{
	color : rgb(226,189,118);
}

.last_td{
	float: right;
	text-align: center;
}

.index_pagination{
	list-style-type: none; 
	display: inline;
}


.map{
	width: 40%;
	max-height: 800px;
}

.map path:hover:not(.emptypath), .map path:active:not(.emptypath), 
.map path.hover:not(.emptypath), .map #guadeloupe:hover path, 
.map g.hover path:not(.emptypath) {
    fill: rgb(226,189,118);
}
