.validate{
	font-size: 13px;
	color: white;
	border-radius: 3px;
	width: 20%;
	border-radius: 4px;
	padding: 10px 20px;
	background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
}

.newAd_line{
	padding: 10px;
}

.newAd_default{
	height: 40px;
	width: 30%;
    line-height: 40px;
    padding: 0 10px;
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
}

#newAd_description{
	height: 200px;
	width: 30%;
    margin: 0;
    padding: 10px;
    padding: 1rem;
    line-height: normal;
    border-radius: 4px;
}

.upload_picture{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.div_upload_picture{
	position: relative;
    height: 102px;
    width: 120px;
    background: #f2f2f2;
    border: 1px dashed #ccc;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.img-upload-btn { 
    position: relative; 
    overflow: hidden; 
    padding-top: 95%;
} 

.img-upload-btn input[type=file] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 100%; 
    min-height: 100%; 
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
} 

.img-upload-btn i { 
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.btn-radio {
    position: relative; 
    overflow: hidden; 
}

.btn-radio input[type=radio] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 100%; 
    min-height: 100%; 
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
}

